conda create -p env python=3.8 -y —> This will give end folder

/Users/praneet/Documents/GitHub/E2EProject/env  —> this will activate the env

Install below 
openai
langChain
streamlit
python-dotenv
pyPDF2



Create setup.py file in project in the folder -> this is used for installing local package in virtual environment

ipynb-> I python note book


